<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>HW15: BURGER TO-DO...2!</title>
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>

<body>
	<header>BURGER TO-DO</header>

	<div id="burgerIcon"></div>
	
	{{{body}}}
	
</body>

</html>
